{% extends "layout.html" %}
{% set active_page = 'poll' %}

{% block body %}
{% for field in form.errors %}
  {% for error in form.errors[field] %}
    <div class="alert alert-danger">
        <strong>Error in field {{field}}!</strong> {{error}}
    </div>
  {% endfor %}
{% endfor %}
<div class="container">
  <div class="row">
    <div class="col">
      {% block poll_details %}
        {% include 'poll/poll-details.html' %}
      {% endblock %}
    </div>
    <div class="col">
      {% block vote_alternatives %}
        {% if poll.id %}
          {% include 'poll/vote-alternatives.html' %}
        {% endif %}
      {% endblock %}  
    </div>
  </div>
</div>

{% endblock %}