{% block poll_details %}
<form method="post" action="{{ action_url }}">
  <div class="card border-primary">
    <div class="card-header">
      <h4 class="card-title">Poll</h4>
    </div>
    <div class="card-body">
      {% for field in form.errors %}
      {% for error in form.errors[field] %}
      <div class="alert alert-danger">
        <strong>Error in field {{field}}!</strong> {{error}}
      </div>
      {% endfor %}
      {% endfor %}

      <fieldset>
        <div class="form-group">
          <label for="inputPollName">Name</label>
          {{ form.name(class = "form-control", placeholder = "Replace this text with the name of the poll") }}
          <small id="pollNameHelp" class="form-text text-muted">Please use a descriptive name for the poll. This will
            be
            seen
            by voters.</small>
        </div>
        <label for="inputPollStart">Start (<small id="pollStartHelp" class="text-muted">date, hour and minute.</small>)</label>
        <div class="input-group">
          {{ form.start_date(class = "form-control") }}
          {{ form.start_hour(class = "form-control") }}
          {{ form.start_minute(class = "form-control") }}
        </div>
        <label for="inputPollEnd">End (<small id="pollEndtHelp" class="text-muted">date, hour and minute.</small>)</label>
        <div class="input-group">
          {{ form.end_date(class = "form-control") }}
          {{ form.end_hour(class = "form-control") }}
          {{ form.end_minute(class = "form-control") }}
        </div>
        {% if poll.id %}
        <fieldset class="form-group">
          <div class="form-check" style="text-align: right">
            {{ form.delete(class = "form-check-input") }}
            <label class="form-check-label">Delete this poll</label>
          </div>
        </fieldset>
        {% endif %}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ url_for("account_index") }}"><button type="button" class="btn btn-secondary">Cancel</button></a>
      </fieldset>
    </div>
  </div>
</form>

{% if poll.id %}
<div class="card border-primary mb-3">
  <div class="card-body">
    <h4 class="card-title">Address for voting in this poll</h4>
    <p class="card-text"><a href="{{url_for('vote_id', poll_id=poll.id) }}">{{url_for('vote_id', poll_id=poll.id,
        _external=True) }}</a></p>
  </div>
</div>
{% endif %}
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
datepicker_options = {
        minDate: 0, 
        maxDate: "+1Y",
        option: $.datepicker.regional['fi']
        };

    $(function(){
        $('#start_date').datepicker(datepicker_options);
    });

    $(function(){
        $('#end_date').datepicker(datepicker_options);
    })
</script>    

{% endblock %}