{% block vote_alternatives %}

<form method="post" action="{{ url_for('new_alternative', poll_id=poll.id) }}">
  <div class="card border-primary">
    <div class="card-header">
      <h4 class="card-title">Voting alternatives</h4>
    </div>
    <div class="card-body">
      <fieldset>
        <div class="form-group">
          <label for="inputPollName">New alternative</label>
          {{ vote_option_form.name(class = "form-control") }}
          <small id="pollNameHelp" class="form-text text-muted">Please use a descriptive name for the alternative.</small>
          <button type="submit" class="btn btn-primary btn-inline">Add</button>
        </div>
      </fieldset>
      {% if vote_options %}
      <p>You can re-order the options by dragging. The new order is saved without further action.</p>
      {% endif %}
      <ul class="list-group" id="optionlist">
        {% for option in vote_options %}
        <li id="opt_{{option.id}}" class="list-group-item list-group-item-action draggable">{{ option.name }}
          <a class="confirm_option_delete" href="{{url_for('delete_alternative', option_id=option.id, poll_id=poll.id)}}"
            title="Delete this alternative" style="float:right;"><img src="{{ url_for('static', filename='img/delete.png') }}"></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</form>

{% endblock %}

{% block pagejs %}
<script>
  $(".confirm_option_delete").click(function(){
    if(confirm("Are you sure you want to delete this alternative?")){
      return true;
    }
    return false;
  });

  $( function(){
    $("#optionlist").sortable({
      update: function (event, ui){
        var data = $(this).sortable('serialize');
        //alert(data);
        $.ajax({
          data: data,
          type: 'POST',
          url: '{{url_for('save_alternative_order', poll_id=poll.id)}}'
        })
      }
    });
  })
</script>
{% endblock %}