{% extends "layout.html" %}
{% set active_page = 'account_index' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% block poll_list %}
                {% include 'account/poll_list.html' %}
            {% endblock %}        
        </div>
        <div class="col">
            {% block poll_breakdown %}
            {% if poll_breakdown %}
                {% include 'account/poll_breakdown.html' %}
            {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}